{% extends 'Pages/Map.html' %}
{% load static %}
{% block Bar %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'barCSS.css' %}"/>
</head>

<!--------------------------------------START The Number Of Stores In Each Category---------------------->
<div id="content-main" class=col-12>
    <div class="col-12">
      <div class="card" style="margin-top: 25px;">
        <div class="card-body pad table-responsive">
<div id="css-script-menu" style="width: 20px;">

    <div class="css-script-center">
    </div>
  
  </div>
 
      <h1 class="TitleMe" style="margin-top:10px;margin-left:25px; font-size: xx-large;">The Number Of Stores In Each Category</h1>
  
      <!-- css bar graph -->
  
      <div class="css_bar_graph" style="width:105%;overflow: hidden;left:-40px;border:None" >
  
        
  
        <!-- y_axis labels -->
  
        <ul class="y_axis">
  
          <li>100%</li>
          <li>80%</li>
          <li>60%</li>
          <li>40%</li>
          <li>20%</li>
          <li>0%</li>
  
        </ul>
  
        
  
        <!-- x_axis labels -->
  
        <ul class="x_axis">
  
          <li>Estates</li>
          <li>Vehicles</li>
          <li>Fashion & Beauty</li>
          <li>Mobiles</li>
          <li>Furniturs</li>
          <li>Computers</li>
          <li>Gifts</li>
          <li>Babies stuff</li>
          <li>Motorcycles</li>
          <li>Sport</li>
          <li>Pharmacies</li>
          <li>Services</li>
          <li>Variants</li>
          <li>Malls</li>
  
        </ul>
  
        
  
        <!-- graph -->
  
        <div class="graph">
  
          <!-- grid -->
  
          <ul class="grid">
  
            <li><!-- 100 --></li>
  
            <li><!-- 80 --></li>
  
            <li><!-- 60 --></li>
  
            <li><!-- 40 --></li>
  
            <li><!-- 20 --></li>
  
            <li class="bottom"><!-- 0 --></li>
  
          </ul>
  
          
  
          <!-- bars -->
  
          <!-- 250px = 100% -->
          
          <ul>
  
            <li class="bar nr_1 red" style="height: {{Percentage1}}px"><div class="top"></div><div class="bottom"></div><span>{{Value1}}%</span></li>
            <li class="bar nr_2 pink" style="height: {{Percentage2}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value2}}%</span></li>
            <li class="bar nr_3 gray" style="height: {{Percentage3}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value3}}%</span></li>
            <li class="bar nr_4 purple" style="height: {{Percentage4}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value4}}%</span></li>
            <li class="bar nr_5 blue" style="height: {{Percentage5}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value5}}%</span></li>
            <li class="bar nr_6 orange" style="height: {{Percentage6}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value6}}%</span></li>
            <li class="bar nr_7 green" style="height: {{Percentage7}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value7}}%</span></li>
            <li class="bar nr_8 brown" style="height: {{Percentage8}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value8}}%</span></li>
            <li class="bar nr_9 blue2" style="height: {{Percentage9}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value9}}%</span></li>
            <li class="bar nr_10 yellow" style="height: {{Percentage10}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value10}}%</span></li>
            <li class="bar nr_11 orange2" style="height: {{Percentage11}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value11}}%</span></li>
            <li class="bar nr_12 lightBlue" style="height: {{Percentage12}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value12}}%</span></li>
            <li class="bar nr_13 Karmiede" style="height: {{Percentage13}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value13}}%</span></li>
            <li class="bar nr_14 bla" style="height: {{Percentage14}}px;"><div class="top"></div><div class="bottom"></div><span>{{Value14}}%</span></li>
  
          </ul>	
  
        </div>
  
        
  
        <!-- graph label -->
  
        <!-- <div class="label"><span>Graph: </span>Gain (in percent)</div> -->
  
      
  
      </div><script>
  
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  
  
    ga('create', 'UA-46156385-1', 'cssscript.com');
  
    ga('send', 'pageview');
  </script>
  <!--------------------------------------END The Number Of Stores In Each Category----------------------->
 

</div>
</div>
</div>
</div>

{% endblock %}