{% extends 'Overview.html' %}
{% load static %}
{% block DonutChart %}
<head>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'DonutChart.css' %}"/> -->
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
</head>

<div id="content-main" class='col-12' style="max-width:33%;height: 440px;">
  <div class="col-12"  style="width:390px;">
    <div class="card">
      <div class="card-body pad table-responsive" style="overflow: hidden;margin: auto;">

        
          <div id="container" style="width: 105%;height: 400px;"></div>
    <script>
  anychart.onDocumentReady(function () {
  // add data
  var data = anychart.data.set([
    ['Client', '{{usersNumber}}' , '{{usersPercentage}}'],
    ['Owner', '{{ownersNumber}}' , '{{ownerPercentage}}'],
  ]);
  
  // create a pie chart with the data
  var chart = anychart.pie(data);
  
  // set the chart radius making a donut chart
  chart.innerRadius('55%')

  // create a color palette
  var palette = anychart.palettes.distinctColors();
 
  // set the colors according to the brands
  palette.items([
    { color: '#5bc0eb' },
    { color: '#fde74c' },
    { color: '#00a3da' },
    { color: '#156ef2' },
    { color: '#f60000' },
    { color: '#96a6a6' }
  ]);

  // apply the donut chart color palette
  chart.palette(palette);
  
  // set the position of labels
  chart.labels().format('{%x}').fontSize(10);

  
  // disable the legend
  chart.legend(false);

  // format the donut chart tooltip
  chart.tooltip().format('Number Of {%x} is : {%y} \n Percentage is: {%z}%');
  // chart.tooltip().format('Number Of Client is : {%PercentValue}% \n Percentage is: {%PercentValue}%');

  // create a standalone label
  var label = anychart.standalones.label();

  // configure the label settings
  label
    .useHtml(true)
    .text(
      '<span style = "color: #313136; font-size:100%;"><strong><span style="color:#fde74c">Owners</span> & <span style = "color: #5bc0eb">Clients</span></strong></span>'
    )
    .position('center')
    .anchor('center')
    .hAlign('center')
    .vAlign('middle');
  
  // set the label as the center content
  chart.center().content(label);
  
  // set container id for the chart
  chart.container('container');
  
  // initiate chart drawing
  chart.draw();

});

    </script>
<style>
    .anychart-credits-text , .anychart-credits{
        display: none;
    }
</style>



</div>
</div>
</div>
</div>

{% block GlassCard %}
{% endblock %}

{% endblock %}