{% extends 'Pages/DonutChart.html' %}
{% load static %}
{% block GlassCard %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Glass.css' %}"/>
</head>
<div id="content-main" class='col-12' style="max-width:33%;">
    <div class="col-12"  style="width:390px;">
        <div class="">
            <div class="card-body pad table-responsive" style="overflow: hidden;margin: auto;background-color:rgb(244, 246, 249);height: 440px;">

                <div style="display: flex;flex-wrap: nowrap;">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="cardMe">
                        <h2 class="header" style="margin:0">Number Of Stores / Posts That Added To The Site :</h2>
                        <p class="text" style="margin:0">{{StoreNumber}} &nbsp;&nbsp; S t o r e s</p>
                        <p class="text">{{PostNumber}} &nbsp;&nbsp; P o s t s</p>
                        <!-- <img alt='Services' src={props.source} class="img"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block Map %}
{% endblock %}

{% endblock %}