{% extends "admin/base_site.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en-us">

<head>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'Home.css' %}"/> -->
  <title>{% block title %} Overview | {{ jazzmin_settings.site_title }}{% endblock %}</title>
</head>

<body>

{% block content_title %} Overview {% endblock %}
  {% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Home</a></li>
        <li class="breadcrumb-item">Overview</li>
    </ol>
{% endblock %}
<ul>
  {% for item in menu_intems %}
      <li><a href="{% url item.url_name %}">item.title</a></li>
  {% endfor %}
  </ul>
{% block content %}

<!-- {% block alerts %}{% endblock %} -->

          <!-- {% block docs_content %}{% endblock %} -->
          
        {% block DonutChart %}
        {% endblock %}


{% endblock %}

</body>
</html>
